<ion-content class="container-login-page" color="background: linear-gradient(to top, #1a2980, #26d0ce);">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container-logo">
          <ion-img src="./../../assets/logo.png" class="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-card class="card-login">
      <ion-card-title class="ion-padding-top ion-text-center">
        <ion-text color="secondary">SIGN UP</ion-text>
      </ion-card-title>

      <ion-card-content>
        <form [formGroup]="form">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">First name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
  
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Last name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
  
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
  
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
  
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
  
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Confirm password</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
        </form>

        <br>

        <ion-row>
          <ion-col>
            <ion-button class="register" color="secondary" [disabled]="!form.valid" (click)="onRegister(form)">Register</ion-button> 
          </ion-col>
          <ion-col>
            <ion-button [routerLink]="['/login']" color="light" class="login ion-float-right">Login <ion-icon name="arrow-forward"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        
        <br>
        <ion-row>
          <ion-col>
            <ion-fab-button color="danger">
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button color="secondary">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button color="primary">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
          </ion-col>

          <ion-col>
            <ion-fab-button color="danger">
              <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
  
  