<ion-content class="container-login-page" color="background: linear-gradient(to top, #1a2980, #26d0ce);">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container-logo">
          <ion-img src="./../../assets/logo.png" class="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card-login" color="background: white !important;">
          <ion-card-title text-center padding-top padding-left padding-right>
            <ion-text color="secondary">SIGN IN</ion-text>
          </ion-card-title>

          <ion-card-content>
            <ion-item no-padding>
              <ion-label position="floating">Your name</ion-label>
              <ion-input></ion-input>
            </ion-item>
  
            <ion-item no-padding>
              <ion-label position="floating">Your E-mail</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

